<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>

  {{ $scssOptions := dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma") }}
  {{ $styles := resources.Get "css/main.scss" | toCSS $scssOptions | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src='{{ $js.Permalink }}' type="module" defer></script>
</head>
<body>
  {{ block "main" . }}
  {{ end }}
</body>
</html>
