{{ define "main" }}
<section class="hero is-danger is-fullheight is-riot">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title|markdownify }}
      </h1>
      <h2 class="title countdown is-hidden">
        <span data-year class="has-text-warning">?</span>
        <span data-years>years</span>,
        <span data-day class="has-text-warning">?</span>
        <span data-days>days</span>,
        <span data-hour class="has-text-warning">?</span>
        <span data-hours>hours</span>,
        <span data-minute class="has-text-warning">?</span>
        <span data-minutes>minutes</span>,
        <span data-second class="has-text-warning">?</span>
        <span data-seconds>seconds</span>
      </h2>
      <h2 class="title happened is-hidden">
        It already happened, man.
      </h2>
    </div>
  </div>
</section>
{{ end }}
