{{ define "main" }}
<section class="hero is-danger is-fullheight is-riot">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title|markdownify }}
      </h1>
      <h2 class="title countdown is-hidden">
        <span data-year>? years</span>,
        <span data-day>? days</span>,
        <span data-hour>? hours</span>,
        <span data-minute>? minutes</span>,
        <span data-second>? seconds</span>
      </h2>
      <h2 class="title happened is-hidden">
        It already happened, man.
      </h2>
    </div>
  </div>
</section>
{{ end }}
